<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>新增用户信息</title>
    <header th:replace="header::html"></header>
</head>

<body>
<div class="x-body">
    <form class="layui-form" method="post" action="/process/apply">

        <div class="layui-form-item">
            <label for="L_title" class="layui-form-label">
                <span class="x-red">*</span>标题
            </label>
            <div class="layui-input-inline">
                <input type="text" id="L_title" name="title" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">申请缘由</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" name="content" class="layui-textarea"></textarea>
            </div>

        <div class="layui-form-item">
            <label for="L_username" class="layui-form-label">
                <span class="x-red">*</span>申请人
            </label>
            <div class="layui-input-inline">
                <input type="text" id="L_username" name="username" required="" lay-verify="username" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label id="L_email" class="layui-form-label">
            </label>
            <button  class="layui-btn" lay-filter="add" lay-submit="">
                申请
            </button>
        </div>
        </div>
    </form>

</div>
<script>

    layui.use(['form','layer', 'laydate'], function(){
        $ = layui.jquery;
        var form = layui.form
            ,layer = layui.layer
            ,laydate = layui.laydate;

        //监听提交
        form.on('submit(add)', function(data){

                        layer.alert("设置成功", {icon: 6},function () {
                            // 可以对父窗口进行刷新
                            xadmin.father_reload();
                        });
        });
    });



</script>
</body>
</html>