<!DOCTYPE html >
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>申请列表</title>
        <header th:replace="header::html"></header>
    </head>
    <body>
        <div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">演示</a>
            <a>
              <cite>导航元素</cite></a>
          </span>
          <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">

                        <div class="layui-card-body ">
                            <table class="layui-hide" id="table" lay-filter="member"></table>
                        </div>

                        <div class="layui-card-body ">
                            <script type="text/html" id="barDemo">
                                <a class="layui-btn layui-btn-xs" lay-event="edit" permission="sys:user:edit">编辑</a>
                                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" permission="sys:user:del">删除</a>
                            </script>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        layui.use('table', function(){
            var table = layui.table,
                form =layui.form;

            //第一个实例
            table.render({
                elem: '#table'
                ,url: '/process/list' //数据接口
                ,response: {
                    dataName: 'datas' //规定数据列表的字段名称，默认：data
                }
                ,page: true //开启分页
                ,cols: [
                    [ //表头
                         {type:'checkbox', fixed: 'left'}
                        ,{field: 'id', title: 'ID', width:80, sort: true, fixed: 'left'}
                        ,{field: 'title', title: '标题', width:80}
                        ,{field: 'content', title: '申请缘由', width: 80}
                        ,{field: 'username', title: '申请人', width:80, sort: true}
                        ,{field: 'createTime', title: '创建日期', width:80}
                        ,,{field: 'flage', title: '状态', width: 80, sort: true,
                                templet:function (d) {
                        return d.status==1?'已受理':'未受理';
                        }}
                    ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:150}
                ]
                ],
                done:function(){
                    checkPermission()
                }
            });
            //监听工具条
            table.on('tool(member)', function(obj){
                var data = obj.data;
                if(obj.event === 'del'){
                    layer.confirm('真的删除行么', function(index){

                        $.ajax({
                            url:"/user/delete",
                            type:"GET",
                            data:{id:data.id},
                            dataType:'json',
                            success:function(result){
                                layer.alert("删除成功", {icon: 1},function (index1) {
                                    layer.close(index1);
                                    //xadmin.father_reload();
                                    table.reload('table');
                                });
                            },
                        });

                    });
                } else if(obj.event === 'edit'){
                    xadmin.open('编辑用户信息','/user/edit/?id='+data.id);
                }

            });
            //监听提交
            form.on('submit(search)', function(data){
                var username=data.field.username;
                table.render({
                    elem: '#table'
                    ,url: '/user/findUserByUserName' //数据接口
                    ,response: {
                        dataName: 'datas' //规定数据列表的字段名称，默认：data
                    }
                    ,where: {
                        "username": username
                    }
                    ,page: true //开启分页
                    ,cols: [
                        [ //表头
                            {type:'checkbox', fixed: 'left'}
                            ,{field: 'id', title: 'ID', width:80, sort: true, fixed: 'left'}
                            ,{field: 'username', title: '用户名', width:80}
                            ,{field: 'sex', title: '性别', width: 80}
                            ,{field: 'nickname', title: '昵  称', width:80, sort: true}
                            ,{field: 'phone', title: '电话号码', width:80}
                            ,,{field: 'status', title: '状态', width: 80, sort: true,
                            templet:function (d) {
                                return d.status==1?'启动':'禁用';
                            }}
                            ,{field: 'telephone', title: '手机号码', width: 177}
                            ,{field: 'email', title: '电子邮箱', width: 80, sort: true}
                            ,{field: 'birthday', title: '生日', width: 80, sort: true}
                            ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:150}

                        ]
                    ]
                });
                return false;
            });


        });


    </script>

</html>