<!DOCTYPE html >
<html  xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"/>
		<title>index</title>
		<!-- The main CSS file -->
		<link href="assets/css/style.css" th:href="@{~/assets/css/style.css}"rel="stylesheet" />
        <link type="text/css" rel="stylesheet"th:href="@{~/css/cal.css}" />
		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>

	<body>

		<div id="clock" class="light">
			<div class="display">
				<div class="weekdays"></div>
				<div class="ampm"></div>
				<div class="alarm"></div>
				<div class="digits"></div>
			</div>
		</div>

		<div class="button-holder">
			<a class="button">Switch Theme</a>
		</div>
<div id="calculator">
	<!-- Screen and clear key -->
	<div class="top">
		<span class="clear">C</span>
		<div class="screen"></div>
	</div>
	<div class="keys">
		<!-- operators and other keys -->
		<span>7</span>
		<span>8</span>
		<span>9</span>
		<span class="operator">+</span>
		<span>4</span>
		<span>5</span>
		<span>6</span>
		<span class="operator">-</span>
		<span>1</span>
		<span>2</span>
		<span>3</span>
		<span class="operator">÷</span>
		<span>0</span>
		<span>.</span>
		<span class="eval">=</span>
		<span class="operator">x</span>
	</div>
</div>
<script th:src="@{~/js/cal.js}" type="text/javascript"></script>
<script src="http://www.js-css.cn/jscode/jquery.min.js"></script>
		
        
		<!-- JavaScript Includes -->
		<script  th:src="@{~/assets/js/jquery-1.11.0.min.js}"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/moment.min.js"></script>
		<script  th:src="@{~/assets/js/script.js}"></script>
		

	</body>
</html>
